<div style="text-align:center">
  <h1>
    Welcome to team {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="https://upload.wikimedia.org/wikipedia/en/thumb/8/88/Zanzibar_Football_Association.svg/1200px-Zanzibar_Football_Association.svg.png">
</div>
